html {
    height: 100%;
  }
  
  main{
    display: flex;
  }
  
  body {
    background-image: url('./portfolio-image-4.jpeg');
    height: 950%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #container {
    height: 300px;
    width:600px;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
    position: relative;
  }
  
  #container img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    height: 300px;
  }
  
  h1 {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3%;
  }
  
  a, a:hover, a:visited {
    text-decoration: none;
    color: black;
  }
  
  .centered {
    position: absolute;
    margin-top: 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
  }
  
  .centered-2 {
    position: absolute;
    margin-top: 4%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 10%;
    font-family: cursive;
  }
  
  li {
    list-style: none;
  }
